{% extends 'base.html' %}
{% block title %} Phonebook {% endblock %}

{% block content %}
    <h1>Add your Name Here</h1>
    
    <form action="">
        <div class="form-group">
            <fieldset>
                {{ form.full_name.label }}
                {{ form.full_name(class='form-control', placeholder='Full Name') }}
            </fieldset>
            <fieldset>
                {{ form.email.label }}
                {{ form.email(class='form-control', placeholder='Email') }}
            </fieldset>
            <fieldset>
                {{ form.phone_number.label }}
                {{ form.phone_number(class='form-control', placeholder='Phone number') }}
            </fieldset>
            
        </div>
        {{ form.submit(class='btn btn-outline-success') }}
    </form>
{% endblock %}
